<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="keywords" content="<%= config.keywords %>">
  <% if (theme.favicon){ %>
    <link rel="icon" href="<%- config.favicon %>">
  <% } %>
  <%
    var title = page.title;
    if (is_archive()){
      title = __('archive_a');
    }
    if (is_category()){
      title = page.category
    }
  %>  
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
  <meta name="description" content="<% if (page.description){ %><%= page.description %> | <% } %><%= config.description %>">
  <%- css('style') %>
  <%- css('lib/jquery.fancybox.min.css') %>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <!--百度统计-->
  <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?57c57600c4fa7586e5e9b986c67b8046";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
  </script>

</head>
